---
---

@charset "utf-8";
body{
    font-family: 'Rubik', sans-serif;
    // font-family: 'Permanent Marker', cursive;
}

//Example Defaults
$base-font-family: 'Rubik', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #003333;
$background-color: #fdfdfd;
$brand-color:      #33cc99;

$grey-color:       #003333;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// generating mt-x classes

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: #{$i}*$spacing-unit px;
  }
}

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #33cc99;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
