  <aside class="bg-dark">
      <div class="container">
            <div class="row">
              <div class="col text-center">
          <div class="call-to-action">
              <h2>JOIN THE REVOLUTION - START GRADING TODAY!</h2>
            <hr />
            </div>
          </div>
            <div class="row text-center">
              <div class="col col-md-4">
                <p class="text-justify"><em>5 Indie Color Grading Hacks</em> is a complete guide to get you grading fast. Covering workspace setup, codecs, workflows and creative concepts as well as general tips, this is the introduction I wish I had six years ago.</p>
                <a href="https://drive.google.com/drive/u/0/folders/0Byng0yNjAo4ba3B1bDI3bW9LOUE" class="btn btn-default btn-xl wow tada">Download Now!</a>
              </div>
              <div class="col col-md-4">
                <img src="img/5ICG-Hacks_Title.jpg" width="100%">
              </div>
            </div>
          </div>
      </div>
  </aside>
