<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Convinced yet?</h2>
                <hr class="light">
                <p class="text-faded">Combining skills from the fields of programming, IT operations & management, live- and scenic productions and postproduction enables me to provide you with a comprehensive view of digital film production. Having one guy manage your pipeline maximizes the overal quality from preproduction through delivery.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
