<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Need crew for your shoot, live show or post production? I field diverse knowledge.</h2>
                <hr class="light">
                <p class="text-faded">Combining skills from the fields of programming, IT operations & management, live- and scenic productions and postproduction provides me with a comprehensive view of digital media creation. I put my heart where my mouth is and create modern stories.</p>
                
                    <a href="mailto:{{ site:mail }}" class="btn btn-default btn-xl">Get the worfklow you deserve!</a>
                </form>
            </div>
        </div>
    </div>
</section>
