<header>
    <div class="header-content">
        <div class="header-content-inner m-t-30">
            <img src="img/bewerbungsportrait_rund.png" width="35%" class="img-fluid mx-auto d-block mb-5 wow bounceIn">
            <h1>Hi! I know technology.</h1>
            <hr>
            <p>Choosing cameras, codecs and data storage solutions. Designing workflows to power your digital film production.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More.</a>
        </div>
    </div>
</header>
