<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.nitro-tv.de/cms/eigenformate/kobras-die-mofa-gang/folgen.html" class="portfolio-box">
                    <img src="img/portfolio/10.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Reality TV
                            </div>
                            <div class="project-name">
                                Kobras | RTL NITRO
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=5WAuR1zLXKk" class="portfolio-box">
                    <img src="img/portfolio/11.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                TV Commercial
                            </div>
                            <div class="project-name">
                                Weihnachtsb&auml;ume | OBI
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=AvYRzMNwSrM" class="portfolio-box">
                    <img src="img/portfolio/12.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Production
                            </div>
                            <div class="project-name">
                                Fashionshow Berlin 2018 | Maybelline
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=7-Ep3IEN-HM" class="portfolio-box">
                    <img src="img/portfolio/14.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Youtube Video
                            </div>
                            <div class="project-name">
                                World of Westeros | Funk
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.prosiebenmaxx.de/tv/hoellencamp" class="portfolio-box">
                    <img src="img/portfolio/16.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                TV Show
                            </div>
                            <div class="project-name">
                                H&ouml;llencamp | Pro7 MAXX
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/maybellineDE/videos/2064082083665626/" class="portfolio-box">
                    <img src="img/portfolio/13.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Facebook Live Series
                            </div>
                            <div class="project-name">
                                Glossy Talk Live | Maybelline
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
