<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.nitro-tv.de/cms/eigenformate/kobras-die-mofa-gang/folgen.html" class="portfolio-box">
                    <img src="img/portfolio/10.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Docutainment TV Show
                            </div>
                            <div class="project-name">
                                Kobras | RTL NITRO
                                <p>On this 10x50min TV show I designed the postproduction workflow, handled data wrangling and backup task and managed IT assets. Shot on Sony FS-7.</p>
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=5WAuR1zLXKk" class="portfolio-box">
                    <img src="img/portfolio/11.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                TV Commercial
                            </div>
                            <div class="project-name">
                                Weihnachtsb&auml;ume | OBI
                                <p>An international TV commercial on which I was part of the versioning editors and specifically managed the broadcast safe colors pipeline.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=AvYRzMNwSrM" class="portfolio-box">
                    <img src="img/portfolio/12.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Live Production
                            </div>
                            <div class="project-name">
                                Fashionshow Berlin 2018 | Maybelline
                                <p>For the 2018 Maybelline show at Berlin's Fashion Week I was part of the NYC crew, operating 2nd camera. In Berlin I color graded all assets and managed the local postproduction infrastructure. Shot on Sony FS-7.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.youtube.com/watch?v=7-Ep3IEN-HM" class="portfolio-box">
                    <img src="img/portfolio/14.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Youtube Video
                            </div>
                            <div class="project-name">
                                World of Westeros | Funk
                                <p>I was brought on by DP Katja Rivas Pinzon to create LUTs for on-set monitoring and final color grading. Shot on URSA Mini Pro.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.prosiebenmaxx.de/tv/hoellencamp" class="portfolio-box">
                    <img src="img/portfolio/16.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                TV Show
                            </div>
                            <div class="project-name">
                                H&ouml;llencamp | Pro7 MAXX
                                <p>On a five-part action show I designed and managed the postproduction workflow including dataw rangling on- and off-set plus backups to LTO of over 60TB of media.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.facebook.com/maybellineDE/videos/2064082083665626/" class="portfolio-box">
                    <img src="img/portfolio/13.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Facebook Live Series
                            </div>
                            <div class="project-name">
                                Glossy Talk Live | Maybelline
                                <p>In 2018 Maybelline supported their social platform with a series of Facebook live streams for which I operated the LTE / 4G uplink and stream.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
