<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-video-camera wow bounceIn text-primary"></i>
                    <h3>Camera</h3>
                    <p class="text-muted">The choice of camera and codec is crucial for the final product.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server-check wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>IT & Workflow</h3>
                    <p class="text-muted">No production is the same. Use the correct tools to streamline your production.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Backup & Archive</h3>
                    <p class="text-muted">SAN, NAS, LTO, Cloud? When should your data go where?</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Postproduction</h3>
                    <p class="text-muted">Editing and Color Grading Experience in various formats.</p>
                </div>
            </div>
        </div>
    </div>
</section>
